/* Colour palette - feel free to mix it up! */
/* This is how we could define our colour palette with Sass but to keep things simple, let's use pure CSS */
/* 
$white: #ffffff;
$grey: #e2dcde;
$red: #ee0000;
$black: #3a3335; 

$accent-color: $red;
$font-color: $black;
*/

/* Custom colour palette */

:root {
    --primary-font-color: #96867b;
    --secondary-font-color: #ffffff;

    --primary-bg-color: #b9be584f;
    --secondary-bg-color: #7f4707;

    --accent-color: #064e16;
}

body {
    background-color: var(--primary-bg-color);
    font-family: 'Gabarito', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

section {
    padding: 1rem 1rem 0;
}

h1,h2 {
    font-size: 2rem;
    color: #311801;
    @media screen and (min-width: 30rem) {
        font-size: 3rem;
    }
}

p {
    font-size: 1rem;
    color:#120900 ;
    line-height: 130%;
    @media screen and (min-width: 30rem) {
        max-width: 40rem;
    }
}
ul{
    color: #120900;
}

a {
    display: inline-block;
    color: var(--secondary-font-color);
    background-color:  var(--accent-color);
    font-weight: 600;
    padding: 0 0.25rem;
    text-align: center;
   
}

a:hover {
    background-color: var(--secondary-bg-color);
    color: var(--primary-font-color);
}
